/* source : html and css from https://codepen.io/val_mri/pen/zYGevvb */

@import url('https://fonts.googleapis.com/css?family=Bitter|Arvo|ato&display=swap');

body {
    display: flex;
}

h1,h2,p{
  margin: 0;
}

h1{
  font-family: 'Arvo', serif;
  font-weight: lighter;
  font-size: 25px;
}

.cardtitle {
  font-family: 'Bitter', serif;
  font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  margin: 5px 1px;
  font-size: 15px;
}

#card {
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 1px 2px 10px #000;
  background-color: #E9EEF2;
  margin: auto;
}

#card-title {
  padding: 5px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  background-color: #e8b233;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#card-id {
  padding: 5px;
  display: flex;
}

#card-number{
  display: inherit;
  margin-right: 50px;
}

#card-information {
  display: flex;
  padding: 5px;
}

#card-photo {
  background: url(http://www.unilim.fr/pages_perso/frederic.mora/lapin.png) no-repeat, #BFAE99;
  background-position: center;
  background-repeat: none;
  border: solid 2px #000;
  height: 150px;
  width: 150px;
}

#card-detail {
  display: flex;
  
}

.card-box {
  margin-right: 20px;
}

#cardsign {
  display:block;
  height: 38px;
  margin-left:200px;
}


#card-code {
  padding: 5px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}